@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.headerIndex {
  width: 100%;
  height: 600px;
  background: #333333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.headerRutinas {
  width: 100%;
  height: 600px;
  background: #333333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.headerSuplementos {
  width: 100%;
  height: 600px;
  background: #333333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.headerAlimentacion {
  width: 100%;
  height: 600px;
  background: #333333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.headerDonaciones {
  width: 100%;
  height: 600px;
  background: #333333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(220, 24, 24, 0.7), rgba(51, 51, 51, 0.7)), url(../img/portada.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

header .textos-header h1 {
  font-size: 100px;
  color: #fff;
}

body {
  font-family: 'Bebas Neue', cursive;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slide {
  margin-top: 10px;
}

.slide img {
  height: 90vh;
  object-fit: fill;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #b61b1b;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.titulo2 {
  color: #fff;
  text-align: center;
}

.txtBsml {
  font-size: 2rem;
}

.txtSml {
  font-size: 3.5rem;
}

.txtMd {
  font-size: 5rem;
}

.txtBig {
  font-size: 25rem;
}

.txtBlanco {
  color: white;
}

.txtNegro {
  color: black;
}

.txtCenter {
  text-align: center;
}

.txtMrg {
  margin: 1rem;
}

.donImg {
  width: 50%;
}

.fondoParrafo {
  background-color: rgba(224, 224, 224, 0.3);
}

.tablaCenter {
  margin: auto;
}

.sizeDivH2,
.sizeDivTitulo {
  width: 100%;
}

.sizeDivTitulo {
  display: flex;
  height: 430px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  background: #5a1c1c;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card .contenido-texto-card {
  width: 60%;
  color: #fff;
}

.cards .card .contenido-texto-card h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.cards .card .contenido-texto-card p {
  font-weight: 300;
  padding-top: 0;
}

.card2{
  flex-direction: row;
  margin: 1rem;
}

.cards .card .contenido-texto-card .tituloH4{
  margin-right: 2rem;
  font-size: 2rem;
}

main section .sobre-nosotros {
  padding: 30px 0 60px 0;
}

main section .contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

main h2 .titulo {
  color: #b61b1b;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

main .contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

main img .imagen-about-us {
  width: 50%;
  object-fit: cover;
  padding-left: -50px;
}

main div .contenido-texto {
  width: 48%;
}

main div h3 {
  margin-bottom: 15px;
}

main div h3 span {
  background: #5a1c1c;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

main div p .contenido-parrafo {
  padding: 0 0 30px 30px;
  font-weight: 300;
  text-align: justify;
}

.objetivos {
  background: #f2f2f2;
}

.galeria-obj {
  width: 100%;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 40% 80%;
  gap: 10px;
  justify-content: end;
}

.banner-contenedor {
  width: 100%;
  display: grid;
  justify-items: end;
}

.banner-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px 0 black;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.galeria-obj-contenedor {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.imagen-obj {
  height: 250px;
  padding-right: 1px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px 0 black;
}

.imagen-obj img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5);
}

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #5a1c1c;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
}

.titulo-final a {
  text-decoration: none;
  color: #9e9797;
}

.titulo-final a:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.contenedorComida{
      display: flex;
      flex-direction: row;
      margin: 1rem;
      padding: 1rem;
}

.contenedorComida img{
      width: 50%;
      height: 50%;
      padding-right: 1rem;
}

.fs-04{
  font-size: 1.5rem;
  color: #fff;
}

#mainFood{
  background: #5a1c1c;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  margin: 1rem;
}

#mainFood div h2{
  color: #fff;
  padding-top: 1.5rem;
}

#mainDonaciones{
  background: #5a1c1c;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

#mainDonaciones div{
  color: #fff;
}

@media screen and (max-width:1465px){

  #mainFood div .comidaResponsive{
    flex-direction: column;
  }

  .cardsResponsive{
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  .comidaResponsive{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .comidaResponsive img{
   margin-bottom: 2rem;
   width: 100%;
 }
}

@media screen and (max-width: 952px) {
  nav a {
    font-size: 25px;
    padding-left: 35px;
  }

  #mainDonaciones{
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }

  nav a {
    font-size: 24px;
    padding-left: 35px;
  }

  .txtSml {
    font-size: 2.2rem;
  }

  .txtMd {
    font-size: 3.5rem;
  }

  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos {
    width: 90%;
  }

  .galeria-obj {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .galeria-obj-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .banner-contenedor {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .imagen-about-us {
    width: 90%;
  }

  .imagen-obj {
    width: 44%;
  }

  .banner-img {
    width: 81%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    width: 90%;
  }

  .cards .card:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 862px) {
  .checkbtn {
    display: block;
  }

  .txtSml {
    font-size: 2rem;
  }

  .txtMd {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .txtSml {
    font-size: 1.2rem;
  }

  .txtMd {
    font-size: 2.5rem;
  }

  .textos-header h1 {
    font-size: 35px;
  }

  .textos-header h2 {
    font-size: 20px;
  }

  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  .banner-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .galeria-obj-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .imagen-obj {
    width: 95%;
  }

  .banner-img {
    width: 95%;
  }

  .cards .card {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards .card img {
    width: 90px;
    height: 90px;
  }

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border: none;
  }

  .content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 20px;
  }
}