@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
   width: 100%;
   background-color: rgb(127, 172, 255);
   font-family: 'Bebas Neue', cursive;
}

body div {
   padding-top: 15rem;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   align-content: center;
}

body div img {
   width: 300px;
   height: 300px;
}

h1 {
   color: black;
   text-decoration: none;
   margin-left: -2rem;
}

a {
   text-decoration: none;
}

a:hover {
   -webkit-filter: invert(100%);
   filter: invert(100%);
}